html
body {
	font-family: sans-serif;
    background-image: url(https://i.pinimg.com/originals/64/92/77/6492778872455eee10cbb314fc36863f.jpg);
    padding: 10px;
    font-size: 110%
    background-size: cover;
    border: solid 5px #775BF5;
    color: white;
}


.major-section{
	margin: 20px;
	padding: 10px;
	border-radius: 5px;

}

.minor-section{
	padding: 2px 20px;
	margin: 10px;
  background-color: #8F56F0;

}
